# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Porfolio\dulan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
